@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    height: 100vh;
    width: 100vw;
}

.container{
    background-color: #161616;
    width: 360px;
    height: 100vh;
    padding: 35px;
}



.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
}

/* Estilo da logo vai aqui */

.greating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 20%;
    width: 100%;
}

.greating h1 {
    font-size: 30px;
    font-weight: 700;
}

.greating h3 {
    font-size: 12px;
}

.login-container {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.login-container h1{
    font-size: 20px;
    font-weight: 600;
}

.login-form{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.login-input, .redefinir-input {
    width: 100%;
    border-radius: 15px;
    background-color: #242424;
    border: 2px solid #BD00FF;
    padding: 15px;
}

.login-submit, .redefinir-submit{
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient(90deg, #BD00FF 0%, #ED3E9D 100%);
    border: none;
}

.login-reset{
    color: #FFF;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
}

.feedback {
    margin: 20px;
    text-align: center;
    transition: .3s;
}

.display-none {
    display: none;
}

/* A partir daqui, estilos da página redefirnir */
.redefinir-container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.redefinir-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.back {
    display: flex;
    align-items: center;
    gap: 20px;
}

.back a img{
    background-color: #BD00FF;

}

.back h1{
    display: inline;
    font-size: 20px;
}

.dicas {
    margin-left: 25px;
}

.redefinir-title {
    font-size: 24px;
    font-weight: 700    ;
}

.redefinir-info {
    font-size: 12px;
    font-weight: 700;
}
